.dropdown {
  justify-self: center;
  border-radius: 10px;
  width: max-content;
  /* padding: 1rem 0.5rem; */
  padding: 0.5rem 0.5rem;
}
#btn-show {
  text-decoration: none;
}
.label {
  font-size: 0.8rem;
  padding-left: 0.5rem;
}
/* #genre-selector { */
#rating {
  /* background: red; */
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 0;
  font-size: 1rem;

  background: url(../img/dropdown.svg) 0 0 no-repeat, var(--main-bg-color);
  /* The dropdown arrow made by me in AdobeXD */
  color: white;
  background-size: 80px;
  background-position: 85px center;

  appearance: none;

  width: 172px;
}

#genre-selector > option {
  font-size: 1rem;
  border: 0;
}
select {
  border: none;
}
